body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: orangered;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  #myInput {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    border-top: none;
    outline: none;
  }
  
  #addBtn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
  }
  
  #addBtn:hover {
    background-color: #45a049;
  }
  
  .voice-container {
    margin-bottom: 20px;
  }
  
  .autocomplete {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
  }
  
  .autocomplete-items {
    position: absolute;
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
  }
  
  .autocomplete-item:hover {
    background-color: #f9f9f9;
  }
  
  .autocomplete-item strong {
    font-weight: bold;
  }
  
  #todos-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  #todoList {
    list-style-type: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo-item label {
    font-size: 16px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #ef4d07;
    padding: 15px 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar a:hover {
    color: #ddd;
  }
  .home-page{
    background-image: url('/anu_hack/General_social_image_01.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"], select {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  
  .priority {
    margin-left: 10px;
  }